### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

# personal resumes
resume-subfolders/
resume_data_scientist.*
resume_ds_ml.*
awesome-cv-backup.cls
cover-letter.*
