### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store


### Personal files ###
.texpadtmp/
outdated-resumes/
resume-ds-in-other-formats/
resume-subfolders/
cover-letters/
resume_ds_long.pdf
resume_ds_long.tex
resume_ds_short.pdf
resume_ds_short.tex
resume_teaching.pdf
resume_teaching.tex
